
body{
	overflow-x: hidden;
	border: 1px dotted black;
	background-image: url("../images/background5.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}


#nav-container{
	width: 100%;
	border: dotted black 1px;
	left: 0px;
}

#nav-bar{
	width: 100%;
	border: dotted black 1px;
	padding: 40px;
	left: 0px;
}

#nav-list{
	float: right;
	list-style-type: none;
	padding-top: 10px;
	margin-right: 80px;
}

#nav-list li{
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px dotted black;
	padding-top:20px;
	padding-bottom: 20px;
	border-radius: 20%;
	margin-right: 10px;
}

#about-container{
	height: 575px;
	border: dotted black 1px;
	padding: 10px;
}

#pic-container{
	border: 1px dotted black;
	height: 560px;
	width: 560px;
	display: inline-block;
	float: left;
	margin-left: 40px;
	border-radius: 100%;
}

#bio-wrapper{
	width: 550px;
	height: 550px;
	position: absolute;
	right: 5%;
	padding: 15px;
	text-align: center;
	border: 1px black dotted;
	border-radius: 100%;
	background-color: white;
}

#text-container{
	width: 400px;
	height: 500px;
	margin: auto;
	padding: 5px;
}

#text-container p{
	font-size: 17px;
}


h2{
	display: inline-block;
	padding-left: 10px;
}


img{
	display: inline-block;
	height: 560px;
	width: 560px;
	float: left;
	border-radius: 100%;
}


p{
	float: right;
	display: inline;
	overflow-wrap: break-word;
}


#projects-container{
	width: 100%;
	display: block;
	border: 1px dotted black;
	margin: auto;
}


.project-list{
	list-style-type: none;
	width: 100%;
}

.project-list li{
	display: inline-block;
	width: 31%;
	text-align: center;
}


.project-panel{
	height: 300px;
	width: 300px;
	border: dotted black 1px;
	margin: auto;
	border-radius: 100%;
	display: inline-block;
}


.project-panel img{
	height: 300px;
	width: 300px;
	border: dotted black 1px;
	margin: auto;
	border-radius: 100%;
	display: inline-block;
	float: left;
}


.social-media-list{
	list-style-type: none;
	width: 50%;
	margin: auto;
}

.social-media-list li{
	display: inline-block;
	width: 31%;
}


.social-media-panel{
	border: dotted black 1px;
	height: 100px;
	width: 100px;
	margin: auto;
	border-radius: 100%;
}





#footer-container{
	width: 97%;
	border: dotted black 1px;
	padding: 20px;
	text-align: center;
}