
body{
	overflow-x: hidden;
	border: 1px dotted black;
}



#nav-container{
	width: 100%;
	border: dotted black 1px;
}

#nav-bar{
	width: 100%;
	border: dotted black 1px;
}

#nav-list{
	float: right;
	list-style-type: none;
	padding-top: 10px;
}

#nav-list li{
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
}

#about-container{
	overflow: auto;
	border: dotted black 1px;
	padding: 10px;
}

#pic-container{
	border: 1px dotted black;
	height: 400px;
	width: 500px;
	display: inline-block;
	float: left;
	margin-left: 40px;
}

#bio-wrapper{
	width: 600px;
	height: 375px;
	position: absolute;
	right: 5%;
	padding: 10px;
	text-align: center;
	border: 1px black dotted;
}

h2{
	display: inline-block;
	padding-left: 10px;
}


img{
	display: inline-block;
	height: 400px;
	width: 500px;
	float: left;
}


p{
	float: right;
	display: inline;
	overflow-wrap: break-word;
}


#projects-container{
	width: 100%;
	display: block;
	border: 1px dotted black;
	margin: auto;
}


.project-list{
	list-style-type: none;
	width: 100%;
}

.project-list li{
	display: inline-block;
	width: 31%;
	text-align: center;
}


.project-panel{
	height: 200px;
	width: 200px;
	border: dotted black 1px;
	margin: auto;
}


.social-media-list{
	list-style-type: none;
	width: 50%;
	margin: auto;
}

.social-media-list li{
	display: inline-block;
	width: 31%;
}


.social-media-panel{
	border: dotted black 1px;
	height: 100px;
	width: 100px;
	margin: auto;
}


#footer-container{
	width: 97%;
	border: dotted black 1px;
	padding: 20px;
	text-align: center;
}